<footer class="container-lg px-0 px-lg-3">
  <div class="border-top border-light py-5 py-lg-6">
    <p class="fs-7 fs-lg-6 fw-lg-semibold text-fourth ls-lg-sm text-center">©Vivre 2024 All right Reserved</p>
  </div>
</footer>