<header class="container">
  <nav class="navbar navbar-expand-lg py-lg-9 border-bottom-lg border-lg-light">
    <h1 class="me-lg-5 me-xl-9">
      <a href="index.html" class="logo">Vivre</a>
    </h1>
    <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
      <div class="offcanvas-header pt-2">
        <button type="button" class="btn-close p-4 m-0 ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body align-items-center">
        <div class="input-group w-lg-276">
          <input type="text" class="form-control border-end-0 rounded-start-5" placeholder="搜尋文章">
          <button class="btn btn-accent link-accent fs-4 lh-1 bg-white border border-start-0" type="button">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="article.html">所有文章</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">訂閱方案</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">關於我們</a>
          </li>
        </ul>
        <button class="btn btn-accent btn-lg fs-6 w-100 w-lg-auto mt-10 mt-lg-0" type="button">登入 / 註冊</button>
      </div>
    </div>
  </nav>
</header>